* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-container {
  display: flex;
  gap: 20px;
}
.title {
  color: steelblue;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Number {
  font-size: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: steelblue;
}

.minus,
.plus,
.reset {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid steelblue;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.minus:hover {
  background-color: steelblue;
}
.plus:hover {
  background-color: steelblue;
}
.reset:hover {
  background-color: steelblue;
}
.minus:active {
  transform: translateY(5%);
  transition: all ease-in-out 0.2s;
  box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
}
.reset:active {
  transform: translateY(5%);
  transition: all ease-in-out 0.2s;
  box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
}
.plus:active {
  transform: translateY(5%);
  transition: all ease-in-out 0.2s;
  box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -3px -3px 10px 1px rgba(0, 0, 0, 0.19);
}
